//- index.pug
extends ./_templates/_layout
include ./_templates/_mixins

block vars
	- pageKey = home
	- bodyClass = pageKey.body_class
	- siteTitle = pageKey.title
	- siteDescription = pageKey.description
	- siteKeywords = pageKey.keywords

block hero
	section#hero
		h1= pageKey.hero.header
		h2= img_path.hero
		h5= pageKey.hero.subhead
block content
	section#body
		include:markdown-it ./_markdown/some-text.markdown